@use "../base/variables" as *;

.burger-btn {
  $root: &;
  display: none;
  align-items: center;
  justify-content: center;
  width: 32px;
  aspect-ratio: 1;
  padding: 8px 4px;
  border: none;
  background-color: transparent;
  z-index: 20;

  @media (width < 1024px) {
    display: flex;
  }

  &__item {
    position: relative;
    background-color: $mint--100;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: background-color $animation-duration $animation-timing-function;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      background-color: $mint--100;
      height: 2px;
      border-radius: 1px;
      transition-property: translate, rotate;
      transition-duration: $animation-duration;
      transition-timing-function: $animation-timing-function;
    }

    &::after {
      top: 6px;
    }

    &::before {
      bottom: 6px;
    }
  }

  @media (hover: hover) {
    cursor: pointer;
  }

  &--active {
    #{$root} {
      &__item {
        background-color: transparent;

        &::before {
          translate: 0 6px;
          rotate: 45deg;
        }

        &::after {
          translate: 0 -6px;
          rotate: -45deg;
        }
      }
    }
  }
}
