@use "../base/variables" as *;
@use "../base/typography" as *;

@mixin transition-color {
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-timing-function;
}

.card-deal {
  $root: &;
  flex-shrink: 0;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  color: $light;
  background-color: $purple--300;
  padding: 16px 16px 13px;
  clip-path: polygon(
    85% 0%,
    100% 20%,
    100% 20%,
    100% 100%,
    25% 100%,
    0 100%,
    0 0
  );
  border-radius: 4px;
  background-image: url("./img/logo02.svg");
  background-repeat: no-repeat;
  background-position: right 8px;
  transition-property: background-color, color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-timing-function;

  @media (hover: hover) {
    &:hover {
      animation: pulse 0.5s linear;
      background-color: $cyan--400;
      color: $dark;

      #{$root} {
        &__subtitle,
        &__date {
          color: rgba($dark, 0.6);
        }

        &__label,
        &__text {
          color: rgba($dark, 0.8);
        }

        &__value {
          color: $purple--300;
        }
      }
    }
  }

  &__subtitle,
  &__date,
  &__label,
  &__text,
  &__value {
    @include transition-color;
  }

  &__title-block,
  &__info-block {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.04em;
  }

  &__subtitle,
  &__date {
    @extend %text14;
    letter-spacing: -0.02em;
    color: rgba($light, 0.4);

    span {
      font-weight: 500;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  &__info-block {
    font-weight: 500;
    line-height: 1.2857;
    letter-spacing: -0.02em;
  }

  &__label,
  &__text {
    font-size: 14px;
    color: rgba($light, 0.7);
    text-transform: uppercase;
  }

  &__value {
    @extend %h5;
    color: $mint--500;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__text {
    text-transform: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
