@use "../base/variables" as *;

.card-deal {
  flex-shrink: 0;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  color: $light;
  background-color: $purple--300;
  padding: 16px 16px 13px;
  clip-path: polygon(
    85% 0%,
    100% 20%,
    100% 20%,
    100% 100%,
    25% 100%,
    0 100%,
    0 0
  );

  border-radius: 4px;
  background-image: url("./img/logo02.svg");
  background-repeat: no-repeat;
  background-position: right 8px;

  &__title-block,
  &__info-block {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.04em;
  }

  &__subtitle,
  &__date {
    font-size: 14px;
    color: rgba($light, 0.4);
    line-height: 1.2857;
    letter-spacing: -0.02em;

    span {
      font-weight: 500;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  &__info-block {
    font-weight: 500;
    line-height: 1.2857;
    letter-spacing: -0.02em;
  }

  &__label,
  &__text {
    font-size: 14px;
    color: rgba($light, 0.7);
    text-transform: uppercase;
  }

  &__value {
    font-size: 28px;
    color: $mint--500;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__text {
    text-transform: none;
  }
}
