@use "../base/variables" as *;

.main-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.25;
  padding: 11px 24px;
  border: 2px solid transparent;
  border-radius: 3px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $purple--900;
  background-color: $cyan--400;
  box-shadow: 0 0 4px 0 $cyan--400;
  transition-property: color, border-color, background-color, translate;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:active {
    translate: 0 4px;
  }

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      background-color: $mint--500;
    }
  }

  &--dark {
    border-color: $cyan--400;
    color: $cyan--400;
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        border-color: $mint--500;
        color: $mint--500;
        background-color: transparent;
      }
    }
  }
}
