@use "../base/variables" as *;

.question-details {
  background-color: $gray--100;
  border-radius: 4px;
  color: $dark;
  display: flex;
  flex-direction: column;

  @media (hover: hover) {
    cursor: pointer;
  }

  &[open] {
    background-color: $purple--300;
    color: rgba($light, 0.8);
    row-gap: 12px;

    svg {
      rotate: 180deg;
      opacity: 1;
    }

    summary {
      color: $light;
    }
  }

  svg {
    transition-property: opacity, rotate;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;
    flex-shrink: 0;
    opacity: 0.5;
  }

  &__summary {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    padding: 16px;

    &::-webkit-details-marker {
      display: none;
    }

    @media (width < 768px) {
      font-size: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-inline: 16px;
    padding-bottom: 16px;
    overflow: hidden;
  }

  &__text {
    line-height: 1.25;
    color: rgba($light, 0.8);
  }
}
