@use "../base/variables" as *;
@use "../base/typography" as *;

.review-card {
  max-width: 522px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 12px;
  background-color: rgba($gray--100, 0.2);
  border-radius: 4px;
  padding: 24px 16px;
  color: $light;
  transition-property: background-color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-timing-function;

  @media (width < 768px) {
    max-width: 100%;
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgba($gray--100, 0.3);
    }
  }

  &__photo-block {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50%;
      width: 69px;
      height: 65px;
      background-image: linear-gradient(to top, $cyan--400, transparent);
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 70px;
    height: auto;
    padding-top: 24px;
    z-index: 10;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.04em;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.2857;
    letter-spacing: -0.02em;
    padding-bottom: 10px;
    color: $gray;

    span {
      font-weight: 500;
    }
  }

  &__text {
    color: rgba($light, 0.8);
    line-height: 1.25;
  }
}
