@use "../base/variables" as *;
@use "../base/typography" as *;

.trade-card {
  display: flex;
  flex-basis: 413px;
  flex-shrink: 0;
  align-items: flex-start;
  column-gap: 32px;

  @media (width < 1284px) {
    flex-grow: 1;
  }

  @media (width < 1024px) {
    max-width: 100%;
  }

  svg {
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__title {
    @extend %h5;
  }

  &__text {
    line-height: 1.25;
    color: rgba($light, 0.8);

    @media (width < 768px) {
      font-size: 14px;
    }
  }
}
