@use "../base/variables" as *;
@use "../base/typography" as *;

.trade-card {
  display: flex;
  max-width: 413px;
  align-items: flex-start;
  column-gap: 32px;

  svg {
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__title {
    @extend %h5;
  }

  &__text {
    line-height: 1.25;
    color: rgba($light, 0.8);
  }
}
