@use "../base/variables" as *;
@use "../base/typography" as *;

.banner-section {
  padding-block: 40px;
  background-color: $purple--300;

  @media (width < 768px) {
    padding-block: 16px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media (width < 768px) {
      flex-direction: column;
    }
  }

  &__title {
    @extend %h5;
    max-width: 523px;
  }

  &__form {
    input {
      max-width: 520px;
      padding-right: 238px;
      background-color: $purple--400;
    }

    @media (width < 768px) {
      button {
        position: static;
        translate: 0;
        margin-top: 8px;
        width: 100%;
      }

      input {
        padding-right: 16px;
      }
    }
  }
}
