@use "../base/variables" as *;
@use "../base/typography" as *;

.deals-section {
  padding-top: 96px;
  padding-bottom: 156px;

  &__title {
    @extend %h3;
  }

  &__status {
    @extend %p14;
    display: flex;
    column-gap: 4px;
    align-items: center;
    color: $mint--500;
    padding-bottom: 72px;

    &::before {
      content: "";
      width: 7px;
      aspect-ratio: 1;
      background-color: $mint--500;
      border-radius: 50%;
    }
  }

  &__deals {
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: scroll;
    padding-bottom: 24px;
    // margin-right: -200px;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $dark-blue--300;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-blue--600;
      border-radius: 3px;
      width: 190px;
    }
  }
}
