@use "../base/variables" as *;
@use "../base/typography" as *;
@use "../utility/helpers" as *;

.questions {
  @extend .pt-96, .pb-96;

  background-color: $light;
  color: $dark;

  &__container {
    max-width: 846px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }

  &__title {
    @extend %h3;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}
