@use "../base/variables" as *;
@use "../base/typography" as *;

.trade-section {
  padding-top: 96px;
  padding-bottom: 156px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 128px;

  &__title {
    @extend %h3;
    max-width: 305px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 72px;
    max-width: 850px;
  }
}
