@use "../base/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  padding-block: 8px;

  &__logo {
    width: 132px;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 82px;

    @media (width < 1024px) {
      opacity: 0;
      position: fixed;
      inset: 0;
      z-index: 10;
      padding-top: 32px;
      background-color: $purple--300;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 20px;
      translate: -100% 0;
      transition-property: translate, opacity;
      transition-duration: $animation-duration;
      transition-timing-function: $animation-timing-function;
    }

    &--active {
      opacity: 1;
      translate: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    row-gap: 15px;
    flex-wrap: wrap;

    @media (width < 1024px) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 32px;
      padding-top: 32px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 0.8235;
    white-space: nowrap;
    color: rgba($light, 0.7);
    text-transform: uppercase;
    transition-property: color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    @media (hover: hover) {
      &:hover {
        color: $mint--500;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}
