%h3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2727;
  text-transform: uppercase;
  letter-spacing: -0.04em;
}

%h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2857;
  letter-spacing: -0.04em;
}

%p14 {
  font-size: 14px;
  line-height: 1.4285;
  letter-spacing: -0.04em;
}
