<section class="banner-section">
  <div class="banner-section__container main-container">
  <h5 class="banner-section__title">
    Начните прямо сейчас с бесплатным<br>
     5–и
    дневным пробным периодом!
    </h5>
      {{> form buttonName="Зарегистрироваться" formClass="banner-section__form"}}
      </div>
</section>
