<section class="deals-section">
  <div class="deals-section__container main-container">
    <h3 class="deals-section__title">Прошедшие сделки</h3>
    <p class="deals-section__status">Онлайн</p>
  </div>
  <div class="deals-section__deals">
    {{#each deals}}
    <a href="{{href}}" class="card-deal">
      <div class="card-deal__title-block">
        <h5 class="card-deal__title">{{title}}</h5>
        <h6 class="card-deal__subtitle"><span>SPOT</span> 1 мин. назад</h6>
      </div>
      <div class="card-deal__footer">
        <div class="card-deal__info-block">
          <h5 class="card-deal__label">Прибыль</h5>
          <h6 class="card-deal__value">
            {{profit}}%
            <svg class="icon icon--16">
              <use href="#arrow"></use>
            </svg>
          </h6>
        </div>
        <div class="card-deal__details">
          <p class="card-deal__text">{{goal}}</p>
          <p class="card-deal__date">Дата входа 06.10.2022</p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</section>
