<footer class="footer">
  <div class="footer__container main-container">
    <div class="footer__left">
      <h6 class="footer__title">Быстрая навигация</h6>
      <nav class="footer__nav">
        <a href="#numbers-section" data-scroll class="footer__nav-link"
          >Цифры</a
        >
        <a href="#deals" data-scroll class="footer__nav-link">Сделки онлайн</a>
        <a href="#about" data-scroll class="footer__nav-link">о компании</a>
        <a href="#trade" data-scroll class="footer__nav-link">tradeblad это</a>
        <a href="#tariffs" data-scroll class="footer__nav-link">тарифы</a>
        <a href="#faq" data-scroll class="footer__nav-link">FAQ</a>
      </nav>
    </div>
    <div class="footer__right">
      {{> logo className="footer__logo"}}
      <p class="footer__text">© 2022 TradeBlade. All rights reserved</p>
    </div>
  </div>
</footer>
