<form class="form {{formClass}}">
  <input
    type="email"
    placeholder="Ваш e–mail"
    class="form__input"
    minlength="3"
    maxlength="60"
    required
  />
  <button type="submit" class="form__btn">{{buttonName}}</button>
</form>
