<header class="header main-container">
  {{> logo className="header__logo"}}
  <div class="header__menu">
    <nav class="header__nav">
      <a href="#numbers-section" data-scroll class="header__link">Цифры</a>
      <a href="#deals" data-scroll class="header__link">Сделки онлайн</a>
      <a href="#about" data-scroll class="header__link">о компании</a>
      <a href="#services" data-scroll class="header__link">как начать</a>
      <a href="#tariffs" data-scroll class="header__link">тарифы</a>
      <a href="#reviews" data-scroll class="header__link">отзывы</a>
      <a href="#faq" data-scroll class="header__link">FAQ</a>
    </nav>
    <div class="header__action">
      <button type="button" class="main-btn main-btn--dark header__btn">
        вход
      </button>
      <button type="button" class="main-btn header__btn">регистрация</button>
    </div>
  </div>
  <button type="button" class="burger-btn">
    <span class="burger-btn__item"></span>
  </button>
</header>
