<header class="header main-container">
  {{> logo className="header__logo"}}
  <div class="header__menu">
    <nav class="header__nav">
      <a href="#!" class="header__link">Цифры</a>
      <a href="#!" class="header__link">Сделки онлайн</a>
      <a href="#!" class="header__link">о компании</a>
      <a href="#!" class="header__link">как начать</a>
      <a href="#!" class="header__link">тарифы</a>
      <a href="#!" class="header__link">отзывы</a>
      <a href="#!" class="header__link">FAQ</a>
    </nav>
    <div class="header__action">
      <button type="button" class="main-btn main-btn--dark">вход</button>
      <button type="button" class="main-btn">регистрация</button>
    </div>
  </div>
  <button type="button" class="burger-btn">
    <span class="burger-btn__item"></span>
  </button>
</header>
