<section class="hero main-container">
  <div class="hero__content">
    <h1 class="hero__title">моментально Копируй сделки профи трейдеров</h1>
    <p class="hero__text">
      Начни копировать сделки с успешной командой профессиональных трейдеров в
      автоматическом режиме.
    </p>
    {{> form buttonName="Начать" formClass="hero__form"}}
    <p class="hero__text hero__text--small">5 дней бесплатного пользования</p>
  </div>
  <img src="./src/img/hero.png" alt="" class="hero__image" draggable="false" />
</section>
