<section class="questions" id="faq">
  <div class="questions__container main-container">
    <h3 class="questions__title">часто задаваемые вопросы</h3>
    <div class="questions__info">
      <details class="question-details" open>
        <summary class="question-details__summary">
          Что такое TradeBlade
          <svg class="icon icon--24">
            <use href="#carret"></use>
          </svg>
        </summary>
        <div class="question-details__content">
          <p class="question-details__text">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
          <p class="question-details__text">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
        </div>
      </details>
      <details class="question-details">
        <summary class="question-details__summary">
          Что TradeBlade предлагает инвесторам
          <svg class="icon icon--24">
            <use href="#carret"></use>
          </svg>
        </summary>
        <div class="question-details__content">
          <p class="question-details__text">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
          <p class="question-details__text">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
        </div>
      </details>
      <details class="question-details">
        <summary class="question-details__summary">
          Должен ли я перевести свои средства на TradeBlade
          <svg class="icon icon--24">
            <use href="#carret"></use>
          </svg>
        </summary>
        <div class="question-details__content">
          <p class="question-details__text">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
          <p class="question-details__text">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
        </div>
      </details>
    </div>
  </div>
</section>
