<section class="reviews" id="reviews">
  <div class="reviews__container main-container">
    <h3 class="reviews__title">отзывы учасников комьюнити</h3>
    <div class="reviews__cards">
      <div class="reviews__cards-left">
        <a href="#!" class="review-card review-card--first">
          <div class="review-card__photo-block">
            <img src="./src/img/user01.png" alt="" class="review-card__image" />
          </div>
          <div class="review-card__content">
            <h5 class="review-card__title">@ArtemGuriev</h5>
            <h6 class="review-card__subtitle">
              Общая прибыль <span>3043.27 USD</span>
            </h6>
            <p class="review-card__text">
              Я запустил спот-бота 5 января. За 25 дней я заработал более 3
              тысяч на споте без единого убытка и без страха ликвидации. Большое
              спасибо TradeBlade за создание такого замечательного бота.
            </p>
          </div>
        </a>
        <a href="#!" class="review-card review-card--third">
          <div class="review-card__photo-block">
            <img src="./src/img/user03.png" alt="" class="review-card__image" />
          </div>
          <div class="review-card__content">
            <h5 class="review-card__title">@gWagon</h5>
            <h6 class="review-card__subtitle">Общую прибыль не афиширует</h6>
            <p class="review-card__text">
              Попробовал. Понравилось. Рекомендую ли я? Да. Но адектватно
              понимаю, что чем больше людей тем может быть меньше прибыли...
            </p>
          </div>
        </a>
      </div>
      <div class="reviews__cards-right">
        <a href="#!" class="review-card review-card--second">
          <div class="review-card__photo-block">
            <img src="./src/img/user02.png" alt="" class="review-card__image" />
          </div>
          <div class="review-card__content">
            <h5 class="review-card__title">@XPonse</h5>
            <h6 class="review-card__subtitle">Общую прибыль не афиширует</h6>
            <p class="review-card__text">
              Мой капитал 2к. Если я получаю 10 долларов в день, то за месяц я
              зарабатываю 300 долларов. То есть 15% в месяц, что мне более чем
              достаточно.
            </p>
          </div>
        </a>
        <a href="#!" class="review-card review-card--fourth">
          <div class="review-card__photo-block">
            <img src="./src/img/user04.png" alt="" class="review-card__image" />
          </div>
          <div class="review-card__content">
            <h5 class="review-card__title">@sanyaMnS</h5>
            <h6 class="review-card__subtitle">
              Общая прибыль <span> 4 405.96 USD</span>
            </h6>
            <p class="review-card__text">
              Сначала немного расстроился ибо заработал 4$ с одной крупной
              сделки. Но зато понял что все равно в плюсе. На следующей сделке
              все полетело вверх.
            </p>
          </div>
        </a>
      </div>
    </div>
    <button type="button" class="reviews__btn main-btn main-btn--dark">
      Загрузить больше отзывов
    </button>
  </div>
</section>
