<section class="services">
  <div class="services__container main-container">
    <h3 class="services__title">Как начать пользоваться сервисом</h3>
    <div class="services__cards">
      {{#each serviceCard}}
      <article class="service-card">
        <h5 class="service-card__title">{{cardTitle}}</h5>
        <p class="service-card__text">{{cardText}}</p>
      </article>
      {{/each}}
    </div>
    <button type="button" class="services__btn main-btn">
      Попробовать бесплатно
    </button>
  </div>
</section>
