<section class="statistics">
  <div class="statistics__container main-container">
    <div class="statistics__title-block">
      <h2 class="statistics__title">Цифры</h2>
      <p class="statistics__date">Cентябрь 2022</p>
    </div>
    <article class="statistics__info-card">
      <h3 class="statistics__label">Торговой прибыли</h3>
      <h4 class="statistics__value">2756%</h4>
    </article>
    <article class="statistics__info-card">
      <h3 class="statistics__label">фьючерсных и спотовых сделок</h3>
      <h4 class="statistics__value">67</h4>
    </article>
    <article class="statistics__info-card">
      <h3 class="statistics__label">прибыль подписчиков</h3>
      <h4 class="statistics__value">375000</h4>
    </article>
  </div>
</section>
