<section class="tariffs">
  <div class="tariffs__container main-container">
    <h3 class="tariffs__title">
      тарифы
    </h3>
    <div class="tariffs__tabs">
      <button
        type="button"
        class="tariffs__tab-btn tariffs__tab-btn--active"
      >СПОТ</button>
      <button type="button" class="tariffs__tab-btn">фьючерс</button>
    </div>
    <div class="tariffs__cards">
      <article class="tariff-card">
        <div class="tariff-card__header">
          <h5 class="tariff-card__title">STANDART</h5>
          <ul class="tariff-card__list">
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Ручной трейдинг
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Автоматическое или полуавтоматическое копирование сделок
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Личный кабинет со статистикой
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Среднесрочные сделки с уровнями набора портфеля
            </li>
          </ul>
        </div>
        <div class="tariff-card__footer">
          <div class="tariff-card__info">
            <h6 class="tariff-card__price">
              $234
              <sub>-35%</sub>
            </h6>
            <button type="button" class="tariff-card__info-btn">
              12 месяцев
              <svg class="icon icon--24">
                <use href="#carret"></use>
              </svg>
            </button>
          </div>
          <button type="button" class="tariff-card__btn"><span
            >Попробовать</span>
            5 дней бесплатно</button>
        </div>
      </article>
      <article class="tariff-card tariff-card--secondary">
        <div class="tariff-card__header">
          <h5 class="tariff-card__title">VIP</h5>
          <ul class="tariff-card__list">
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Ручной трейдинг
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Автоматическое или полуавтоматическое копирование сделок
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Личный кабинет со статистикой
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Краткосрочные, среднесрочные и инвест сделки
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Доступ в Vip чат с командой
            </li>
            <li class="tariff-card__item">
              <svg class="icon icon--16">
                <use href="#check"></use>
              </svg>
              Наш авторский курс по трейдингу
            </li>
          </ul>
        </div>
        <div class="tariff-card__footer">
          <div class="tariff-card__info">
            <h6 class="tariff-card__price">
              $234
              <sub>-35%</sub>
            </h6>
            <button type="button" class="tariff-card__info-btn">
              12 месяцев
              <svg class="icon icon--24">
                <use href="#carret"></use>
              </svg>
            </button>
          </div>
          <button type="button" class="tariff-card__btn"><span
            >Попробовать</span>
            5 дней бесплатно</button>
        </div>
      </article>
    </div>
  </div>
</section>
