<section class="tariffs main-container">
  <h3 class="tariffs__title">
    тарифы
  </h3>
  <div class="tariffs__tabs">
    <button
      type="button"
      class="tariffs__tab-btn tariffs__tab-btn--active"
    >СПОТ</button>
    <button type="button" class="tariffs__tab-btn">фьючерс</button>
  </div>
  <div class="tariffs__cards">
    <article class="tariff-card">
      <h5 class="tariff-card__title">STANDART</h5>
      <ul class="tariff-card__list">
        <li class="tariff-card__item">
          <svg class="icon icon--16">
            <use href="#check"></use>
          </svg>
          Ручной трейдинг
        </li>
        <li class="tariff-card__item">
          <svg class="icon icon--16">
            <use href="#check"></use>
          </svg>
          Автоматическое или полуавтоматическое копирование сделок
        </li>
        <li class="tariff-card__item">
          <svg class="icon icon--16">
            <use href="#check"></use>
          </svg>
          Личный кабинет со статистикой
        </li>
        <li class="tariff-card__item">
          <svg class="icon icon--16">
            <use href="#check"></use>
          </svg>
          Среднесрочные сделки с уровнями набора портфеля
        </li>
      </ul>
      <div class="tariff-card__footer">
        <div class="tariff-card__info">
          <h6 class="tariff-card__price">
            $234
            <sup>-35%</sup>
          </h6>
          <button type="button" class="tariff-card__btn">12 месяцев</button>
        </div>
      </div>
    </article>
  </div>
</section>
